.container {
    padding: 20px;
    background-color: #f7f3ff; /* Pastel purple background */
    border-radius: 8px;
    position: relative;
  }
  
  h2 {
    margin-bottom: 16px;
    text-align: center;
    font-size: 3.5rem;
  }
  
  .backIcon {
    font-size: 20px;
    color: #010a11;
    cursor: pointer;
    position: absolute;
    top: 3rem;
    left: 3rem;
  }
  
  .backIcon:hover {
    color: #40a9ff;
  }
  
  .toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }